body{
	background-color: #000;
	margin:0px;
	padding:0px;
}
@font-face { 
	font-family: Slayer; 
	src: url('/fonts/Slaytanic.ttf'); 
} 
.slayer-font-title{
	font-family: Slayer, sans-serif;
	font-size: 550px;
	font-weight: bolder;
	margin-top: 0px;
	height: 600px;
}
.slayer-font{
	font-family: Slayer, sans-serif;
	font-size: 150px;
	font-weight: bolder;
	margin-top: 0px;
}
nav.navbar.navbar-default.navbar-static-top{
	margin-bottom: 0px;
}
.gotcha-title-div{
	text-align: center;
	height: 800px;
	width: 100%;
}
.progress{
	font-size: 50px;
}
#countmesg{
	font-size: 100px;
	font-weight: bolder;
	color: white;
	text-align: center;
}
.embeded-video{
	display: block;
	margin:auto;
}
.embed-frame{
	text-align: center;
}
.title-div{
	text-align: center;
}
.table{
	width: 50%;
	margin: auto;
	font-size: 20px;
}
.nav-link{
	font-size: 15px;
	color: #6E6E70;
}
.nav-home{
	color: white;
}